#volume{
    border-radius: 4px;
    background: linear-gradient(to right, #fff 0%, #fff 1.04011%, hsla(0,0%,100%,0.3) 1.04011%, hsla(0,0%,100%,0.3) 100%);
    align-self: center;
    width: 100%;
    height: 3px;
}

.aloha{
    -webkit-animation: spin 4s linear infinite;
    animation: spin 4s linear infinite;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
///////////////////////////////////////////////////////////////////////////////////////////////////////////////
.player-queue__scroll {
    flex: 1 1;
}

.media-item {
  border-radius: 4px;
}

.player-queue .media {
  padding: 8px;
}

.media-item.full-left .media-left {
  flex-grow: 1;
  flex-shrink: 1;
}

.media-item .media-left {
  display: flex;
  width: 50%;
}

.media-item .media-left .song-thumb {
  margin-right: 10px;
  flex-shrink: 0;
}
.media-left .song-thumb {
  display: block;
  position: relative;
  overflow: hidden;
  border-radius: 4px;
  cursor: pointer;
}

.player-queue__list {
  position: relative;
  padding: 0 8px 15px;
}

.zm-actions {
  position: absolute;
  left: 50%;
  top: 50%;
  bottom: auto;
  right: auto;
  z-index: 98;
  transform: translateX(-50%) translateY(-50%);
  display: -moz-flex;
  display: flex;
  -moz-justify-content: space-around;
  -ms-justify-content: space-around;
  -o-justify-content: space-around;
  justify-content: space-around;
  -ms-flex-pack: distribute;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center;
  visibility: hidden;
  width: 80%;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
}

.media-item .media-left .song-thumb .zm-btn {
  font-size: 18px;
  line-height: 0;
  height: 18px;
}

.player-queue .media .zm-btn {
  padding: 0;
  // color: #fff;
}

.zm-actions .zm-tooltip-btn {
  font-size: 20px;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
}

.media-left .song-thumb+.card-info {
  overflow: hidden;
}

.media .card-info {
  display: -moz-flex;
  display: flex;
  -moz-flex-direction: column;
  flex-direction: column;
  width: 100%;
}

.media-item .media-left .title-wrapper {
  max-width: 100%;
}

.media-item .media-left .title-wrapper .title {
  display: flex;
  align-items: center;
  flex: 1 1;
}

.media-item .media-left .subtitle {
  line-height: 1.33;
}

// .player-queue .media .media-right .level {
//   display: none;
// }

.media-item .media-right .material {
  color: hsla(0,0%,100%,0.5);
}

.player-queue .media {
  padding: 8px;
}

.player-queue .media.is-show-menu, .player-queue .media:hover {
  background-color: hsla(0,0%,100%,0.1);
}

