 <div style="position: relative; overflow: hidden; width: 100%; height: 100%;">
      <main class="zm-section" id="body-scroll" style="position: absolute; inset: 0px; overflow: hidden scroll; margin-right: -6px; margin-bottom: 0px;padding-top: 77px;">
        <div class="pad-t-20">
          <div class="container playlist-detail-container">
            <div class="clearfix mar-b-30">
              <div class="media playlist-header sticky">
                <div class="media-left">
                  <div class="zm-card header-thumbnail">
                    <div class="zm-card-image">
                      <figure class="image is-48x48"><img
                          src="https://photo-resize-zmp3.zadn.vn/w320_r1x1_webp/cover/2/d/7/3/2d73190db2129fcfead8176a498eb1aa.jpg"
                          alt=""></figure>
                      <div class="opacity "></div>
                      <div class="zm-actions-container">
                        <div class="zm-box zm-actions playlist-actions">
                          <button class="zm-btn action-play  button"tabindex="0"><i  class="material-icons action-play ic-svg-play-circle">play_circle_outline></i></button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="media-content">
                  <div class="content-top">
                    <h3 class="title">"TO INFINITY."</h3>
                    <div class="artists"><a class="is-ghost" href="/nghe-si/MINO-WINNER">MINO</a> •
                      <span>07/12/2021</span></div>
                    <div class="like">95 người yêu thích</div>
                  </div>
                  <div class="actions">
                    <button class="zm-btn btn-play-all is-outlined active is-medium is-upper button"tabindex="0">
                      <i class="material-icons">play_arrow</i><span>Tiếp tục phát</span></button>
                    <div class="level">
                      <div class="level-item is-narrow"><span class="mar-r-10"><button
                            class="zm-btn zm-tooltip-btn mar-r-10 is-hover-circle button" tabindex="0">
                            <i class="material-icons">favorite_border</i></button></span></div>
                      <div class="level-item is-narrow"><button class="zm-btn zm-tooltip-btn is-hover-circle button"
                          tabindex="0"><i class="material-icons">more_horiz</i></button></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="playlist-content">
                <div class="list mar-b-10 song-list-ablum song-list-select">
                  <div class="media select-header">
                    <div class="media-left">
                      Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio a eligendi temporibus, eaque eos ea explicabo voluptate recusandae ducimus aut veniam praesentium natus vero vel odit consequatur aspernatur, obcaecati quidem.
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>
    </div>