
      <div style="position: relative; overflow: hidden; width: 100%; height: 100%;">
        <main class="zm-section" id="body-scroll"
          style="position: absolute; inset: 0px; overflow: hidden scroll; margin-right: -6px; margin-bottom: 0px;">
          <div class="container">
            <div class="container">
              <div class="gallery">
                <div class="gallery-container">
                  <swiper [loop]="true" [effect]="'coverflow'" [navigation]="true" [grabCursor]="true"
                    [centeredSlides]="true" [slidesPerView]="'auto'" [coverflowEffect]="{
                    rotate: 50,
                    stretch: 0,
                    depth: 100,
                    modifier: 1,
                    slideShadows: true
                  }" [pagination]="true" class="mySwiper">
                    <ng-template swiperSlide><img
                        src="https://photo-zmp3.zadn.vn/banner/9/c/b/e/9cbea292b0477fdf9fdf4a46287c2625.jpg" alt=""
                        style="border-radius: 10px;" /></ng-template>
                    <ng-template swiperSlide><img
                        src="https://photo-zmp3.zadn.vn/banner/b/0/d/c/b0dc4a1e0534dd6cea9c61e76c1189b1.jpg" alt=""
                        style="border-radius: 10px;" /></ng-template>
                    <ng-template swiperSlide><img
                        src="https://photo-zmp3.zadn.vn/banner/d/f/8/c/df8c3a915aee5190451ab2203ca0e503.jpg" alt=""
                        style="border-radius: 10px;" /></ng-template>
                    <ng-template swiperSlide><img
                        src="https://photo-zmp3.zadn.vn/banner/9/d/5/2/9d52f5b8899e431fc87737b731870523.jpg" alt=""
                        style="border-radius: 10px;" /></ng-template>
                    <ng-template swiperSlide><img
                        src="https://photo-zmp3.zadn.vn/banner/1/8/a/1/18a134b25d1ae313912ee67f49bc1725.jpg" alt=""
                        style="border-radius: 10px;" /></ng-template>
                    <ng-template swiperSlide><img
                        src="https://photo-zmp3.zadn.vn/banner/9/3/a/c/93acf969e8a26575aee67e5c40b0239e.jpg" alt=""
                        style="border-radius: 10px;" /></ng-template>
                    <ng-template swiperSlide><img
                        src="https://photo-zmp3.zadn.vn/banner/0/4/7/4/0474ad73bd8e460482579fa51a7d4b2c.jpg" alt=""
                        style="border-radius: 10px;" /></ng-template>
                    <ng-template swiperSlide><img
                        src="https://photo-zmp3.zadn.vn/banner/1/7/9/4/1794af0747d1f5d57813895febec0a88.jpg" alt=""
                        style="border-radius: 10px;" /></ng-template>
                  </swiper>
                </div>
              </div>
            </div>
            <div class="zm-section playlist-section channel-section mar-t-30">
              <div class="container">
                <h3 class="zm-section-title title is-2" style="color: white;">Lựa chọn hôm nay</h3>
                <div class="zm-carousel-wrapper">
                  <div class="zm-carousel">
                    <div class="zm-carousel__container" style="transform: translate3d(0px, 0px, 0px);">
                      <div class="zm-carousel-item is-fullhd-20 is-widescreen-20 is-desktop-3 is-touch-3 is-tablet-3">
                        <div class="playlist-wrapper is-description">
                          <div class="zm-card">
                            <div>
                              <a class="" title="Everyday Favorites"
                                href="/album/Everyday-Favorites-Ed-Sheeran-Taylor-Swift-Maroon-5-Adele/ZDWI7AUB.html">
                                <div class="zm-card-image" [routerLink]="['/detail']" routerLinkActive="router-link-active">
                                  <figure class="image is-48x48"><img
                                      src="https://photo-resize-zmp3.zadn.vn/w320_r1x1_webp/cover/5/1/8/d/518d513f6b09fce0c39f48c1dfc93707.jpg"
                                      alt=""></figure>
                                </div>
                              </a>
                            </div>
                            <div class="zm-card-content">
                              <h4 class="title is-6">
                                <a class="" title="Everyday Favorites"
                                  href="/album/Everyday-Favorites-Ed-Sheeran-Taylor-Swift-Maroon-5-Adele/ZDWI7AUB.html">
                                  <span>
                                    <span>
                                      <span style="color: white;">Everyday Favorites</span>
                                    </span>
                                    <span style="position: fixed; visibility: hidden; top: 0px; left: 0px;">…</span>
                                  </span>
                                </a>
                              </h4>
                              <h3 class="mt-10 subtitle">
                                <span>
                                  <span>
                                    <span>Enjoy cả ngày với</span><br>
                                    <span>
                                      <span>những bản Hits nghe…</span>
                                    </span>
                                  </span>
                                  <span style="position: fixed; visibility: hidden; top: 0px; left: 0px;">…</span>
                                </span>
                              </h3>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="zm-carousel-item is-fullhd-20 is-widescreen-20 is-desktop-3 is-touch-3 is-tablet-3">
                        <div class="playlist-wrapper is-description">
                          <div class="zm-card">
                            <div>
                              <a class="" title="Đóa Hồng Nhạc Việt"
                                href="/album/Doa-Hong-Nhac-Viet-Orange-Bich-Phuong-AMEE-Phung-Khanh-Linh/ZA9U9FCI.html">
                                <div class="zm-card-image"  [routerLink]="['/detail']" routerLinkActive="router-link-active" >
                                  <figure class="image is-48x48"><img
                                      src="https://photo-resize-zmp3.zadn.vn/w320_r1x1_webp/cover/3/3/1/5/3315338ae938e044e716cd677f965e88.jpg"
                                      alt=""></figure>
                                </div>
                              </a>
                            </div>
                            <div class="zm-card-content">
                              <h4 class="title is-6"><a class="" title="Đóa Hồng Nhạc Việt"
                                  href="/album/Doa-Hong-Nhac-Viet-Orange-Bich-Phuong-AMEE-Phung-Khanh-Linh/ZA9U9FCI.html">
                                  <span>
                                    <span>
                                      <span style="color: white;">Đóa Hồng Nhạc Việt</span>
                                    </span>
                                    <span style="position: fixed; visibility: hidden; top: 0px; left: 0px;">…</span>
                                  </span>
                                </a>
                              </h4>
                              <h3 class="mt-10 subtitle">
                                <span>
                                  <span>
                                    <span>Những đóa hồng tỏa</span><br>
                                    <span>
                                      <span>sắc hương trong khu…</span>
                                    </span>
                                  </span>
                                  <span style="position: fixed; visibility: hidden; top: 0px; left: 0px;">…</span>
                                </span>
                              </h3>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="zm-carousel-item is-fullhd-20 is-widescreen-20 is-desktop-3 is-touch-3 is-tablet-3">
                        <div class="playlist-wrapper is-description">
                          <div class="zm-card">
                            <div>
                              <a class="" title="Anime Now"
                                href="/album/Anime-Now-YOASOBI-Yorushika-ClariS-LiSA/69IAZIWU.html">
                                <div class="zm-card-image"  [routerLink]="['/detail']" routerLinkActive="router-link-active" >
                                  <figure class="image is-48x48"><img
                                      src="https://photo-resize-zmp3.zadn.vn/w320_r1x1_webp/cover/d/8/6/9/d8695d7d00848b058ba4ae751925a5cc.jpg"
                                      alt="">
                                  </figure>
                                </div>
                              </a>
                            </div>
                            <div class="zm-card-content">
                              <h4 class="title is-6">
                                <a class="" title="Anime Now"
                                  href="/album/Anime-Now-YOASOBI-Yorushika-ClariS-LiSA/69IAZIWU.html"><span>
                                    <span>
                                      <span style="color: white;">Anime Now</span>
                                    </span>
                                    <span style="position: fixed; visibility: hidden; top: 0px; left: 0px;">…</span>
                                  </span>
                                </a>
                              </h4>
                              <h3 class="mt-10 subtitle"><span>
                                  <span>
                                    <span>Nhạc Anime hot nhất ở</span><br>
                                    <span>
                                      <span>thời điểm hiện tại có…</span>
                                    </span>
                                  </span>
                                  <span style="position: fixed; visibility: hidden; top: 0px; left: 0px;">…</span>
                                </span>
                              </h3>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="zm-carousel-item is-fullhd-20 is-widescreen-20 is-desktop-3 is-touch-3 is-tablet-3">
                        <div class="playlist-wrapper is-description">
                          <div class="zm-card">
                            <div><a class="" title="K-Christmas"
                                href="/album/K-Christmas-EXO-TAEYEON-Girls-Generation-TTS-IU/ZC9CO7IW.html">
                                <div class="zm-card-image">
                                  <figure class="image is-48x48"><img
                                      src="https://photo-resize-zmp3.zadn.vn/w320_r1x1_webp/cover/7/b/5/3/7b53acd9b6720e3c46e0c51d816c0a79.jpg"
                                      alt=""></figure>
                                </div>
                              </a>
                            </div>
                            <div class="zm-card-content">
                              <h4 class="title is-6">
                                <a class="" title="K-Christmas"
                                  href="/album/K-Christmas-EXO-TAEYEON-Girls-Generation-TTS-IU/ZC9CO7IW.html">
                                  <span>
                                    <span>
                                      <span style="color: white;">K-Christmas</span>
                                    </span>
                                    <span style="position: fixed; visibility: hidden; top: 0px; left: 0px;">…</span>
                                  </span>
                                </a>
                              </h4>
                              <h3 class="mt-10 subtitle"><span>
                                  <span>
                                    <span>Cùng các sao K-Pop</span><br>
                                    <span>
                                      <span>hâm nóng không khí…</span>
                                    </span>
                                  </span>
                                  <span style="position: fixed; visibility: hidden; top: 0px; left: 0px;">…</span>
                                </span>
                              </h3>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="zm-carousel-item is-fullhd-20 is-widescreen-20 is-desktop-3 is-touch-3 is-tablet-3">
                        <div class="playlist-wrapper is-description">
                          <div class="zm-card">
                            <div><a class="" title="Catchy Tune"
                                href="/album/Catchy-Tune-AMEE-MIN-Dua-Lipa-Red-Velvet/6U0ZA0OO.html">
                                <div class="zm-card-image">
                                  <figure class="image is-48x48"><img
                                      src="https://photo-resize-zmp3.zadn.vn/w320_r1x1_webp/cover/6/a/f/a/6afa8b51700adae78ed91e3e3813c763.jpg"
                                      alt=""></figure>
                                </div>
                              </a>
                            </div>
                            <div class="zm-card-content">
                              <h4 class="title is-6">
                                <a class="" title="Catchy Tune"
                                  href="/album/Catchy-Tune-AMEE-MIN-Dua-Lipa-Red-Velvet/6U0ZA0OO.html">
                                  <span>
                                    <span>
                                      <span style="color: white;">Catchy Tune</span>
                                    </span>
                                    <span style="position: fixed; visibility: hidden; top: 0px; left: 0px;">…</span>
                                  </span>
                                </a>
                              </h4>
                              <h3 class="mt-10 subtitle">
                                <span>
                                  <span>
                                    <span>Dễ nghe dễ nhớ, nghe</span><br>
                                    <span>phát hát theo luôn</span>
                                  </span>
                                  <span style="position: fixed; visibility: hidden; top: 0px; left: 0px;">…</span>
                                </span>
                              </h3>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="zm-section playlist-section channel-section mar-t-30">
              <div class="container">
                <h3 class="zm-section-title title is-2">Lựa chọn hôm nay</h3>
                <div class="zm-carousel-wrapper">
                  <div class="zm-carousel">
                    <div class="zm-carousel__container" style="transform: translate3d(0px, 0px, 0px);">
                      <div class="zm-carousel-item is-fullhd-20 is-widescreen-20 is-desktop-3 is-touch-3 is-tablet-3">
                        <div class="playlist-wrapper is-description">
                          <div class="zm-card">
                            <div><a class="" title="Pop Việt Ngày Nay"
                                href="/album/Pop-Viet-Ngay-Nay-Quan-A-P-Bao-Anh-ERIK-AMEE/ZE7BI8ZZ.html">
                                <div class="zm-card-image">
                                  <figure class="image is-48x48"><img
                                      src="https://photo-resize-zmp3.zadn.vn/w320_r1x1_webp/cover/1/1/c/7/11c769ee8fa3ccfb4a51ced62c860875.jpg"
                                      alt=""></figure>
                                </div>
                              </a>
                            </div>
                            <div class="zm-card-content">
                              <h4 class="title is-6">
                                <a class="" title="Pop Việt Ngày Nay"
                                  href="/album/Pop-Viet-Ngay-Nay-Quan-A-P-Bao-Anh-ERIK-AMEE/ZE7BI8ZZ.html">
                                  <span>
                                    <span>
                                      <span>Pop Việt Ngày Nay</span>
                                    </span>
                                    <span style="position: fixed; visibility: hidden; top: 0px; left: 0px;">…</span>
                                  </span>
                                </a>
                              </h4>
                              <h3 class="mt-10 subtitle">
                                <span>
                                  <span>
                                    <span>Ở đây có bài mới của Bảo Anh</span><br>
                                    <span>
                                      <span>và những ca khúc Pop Việt…</span>
                                    </span>
                                  </span>
                                  <span style="position: fixed; visibility: hidden; top: 0px; left: 0px;">…</span>
                                </span>
                              </h3>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="zm-carousel-item is-fullhd-20 is-widescreen-20 is-desktop-3 is-touch-3 is-tablet-3">
                        <div class="playlist-wrapper is-description">
                          <div class="zm-card">
                            <div><a class="" title="V-Pop Đầy Hứa Hẹn"
                                href="/album/V-Pop-Day-Hua-Hen-Vu-Cat-Tuong-Quang-Hung-MasterD-GiGi-Huong-Giang-Quang-Trung/ZWZCOBEF.html">
                                <div class="zm-card-image">
                                  <figure class="image is-48x48"><img
                                      src="https://photo-resize-zmp3.zadn.vn/w320_r1x1_webp/cover/b/1/4/2/b1426375d732cbf2ec55246c6eb57141.jpg"
                                      alt=""></figure>
                                </div>
                              </a>
                            </div>
                            <div class="zm-card-content">
                              <h4 class="title is-6"><a class="" title="V-Pop Đầy Hứa Hẹn"
                                  href="/album/V-Pop-Day-Hua-Hen-Vu-Cat-Tuong-Quang-Hung-MasterD-GiGi-Huong-Giang-Quang-Trung/ZWZCOBEF.html">
                                  <span>
                                    <span>
                                      <span>V-Pop Đầy Hứa Hẹn</span>
                                    </span>
                                    <span style="position: fixed; visibility: hidden; top: 0px; left: 0px;">…</span>
                                  </span></a>
                              </h4>
                              <h3 class="mt-10 subtitle">
                                <span>
                                  <span>
                                    <span>Những ca khúc V-Pop hứa</span><br>
                                    <span>
                                      <span>hẹn sẽ thành Hit trong nay…</span>
                                    </span>
                                  </span>
                                  <span style="position: fixed; visibility: hidden; top: 0px; left: 0px;">…</span>
                                </span>
                              </h3>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="zm-carousel-item is-fullhd-20 is-widescreen-20 is-desktop-3 is-touch-3 is-tablet-3">
                        <div class="playlist-wrapper is-description">
                          <div class="zm-card">
                            <div><a class="" title="Christmas 2021"
                                href="/album/Christmas-2021-Mariah-Carey-Elton-John-Ed-Sheeran-John-Legend/ZO698FUA.html">
                                <div class="zm-card-image">
                                  <figure class="image is-48x48"><img
                                      src="https://photo-resize-zmp3.zadn.vn/w320_r1x1_webp/cover/8/5/e/0/85e0bf9c44af63793992e8381c16deb9.jpg"
                                      alt=""></figure>
                                </div>
                              </a>
                            </div>
                            <div class="zm-card-content">
                              <h4 class="title is-6"><a class="" title="Christmas 2021"
                                  href="/album/Christmas-2021-Mariah-Carey-Elton-John-Ed-Sheeran-John-Legend/ZO698FUA.html">
                                  <span>
                                    <span>
                                      <span>Christmas 2021</span>
                                    </span>
                                    <span style="position: fixed; visibility: hidden; top: 0px; left: 0px;">…</span>
                                  </span></a>
                              </h4>
                              <h3 class="mt-10 subtitle"><span><span><span>Hâm nóng không khí cuối</span><br>
                                    <span>
                                      <span>năm bằng những ca khúc…</span>
                                    </span>
                                  </span>
                                  <span style="position: fixed; visibility: hidden; top: 0px; left: 0px;">…</span>
                                </span>
                              </h3>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="zm-carousel-item is-fullhd-20 is-widescreen-20 is-desktop-3 is-touch-3 is-tablet-3">
                        <div class="playlist-wrapper is-description">
                          <div class="zm-card">
                            <div><a class="" title="Kết Hợp Gây Nghiện"
                                href="/album/Ket-Hop-Gay-Nghien-SOOBIN-Binz-Touliver-Rhymastic/ZAAOIC9B.html">
                                <div class="zm-card-image">
                                  <figure class="image is-48x48"><img
                                      src="https://photo-resize-zmp3.zadn.vn/w320_r1x1_webp/cover/3/c/b/8/3cb8984d6a55f87dd79ff0560cd70b15.jpg"
                                      alt=""></figure>
                                </div>
                              </a>
                            </div>
                            <div class="zm-card-content">
                              <h4 class="title is-6"><a class="" title="Kết Hợp Gây Nghiện"
                                  href="/album/Ket-Hop-Gay-Nghien-SOOBIN-Binz-Touliver-Rhymastic/ZAAOIC9B.html">
                                  <span>
                                    <span>
                                      <span>Kết Hợp Gây Nghiện</span>
                                    </span>
                                    <span style="position: fixed; visibility: hidden; top: 0px; left: 0px;">…</span>
                                  </span></a>
                              </h4>
                              <h3 class="mt-10 subtitle">
                                <span>
                                  <span>
                                    <span>1 cây làm chẳng nên non,</span><br>
                                    <span>
                                      <span>nhiều cây hợp lại nên bài Hit…</span>
                                    </span>
                                  </span>
                                  <span style="position: fixed; visibility: hidden; top: 0px; left: 0px;">…</span>
                                </span>
                              </h3>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="zm-carousel-item is-fullhd-20 is-widescreen-20 is-desktop-3 is-touch-3 is-tablet-3">
                        <div class="playlist-wrapper is-description">
                          <div class="zm-card">
                            <div><a class="" title="Daebak Solo"
                                href="/album/Daebak-Solo-Hwa-Sa-LISA-MINO-CL/6ICU9EF0.html">
                                <div class="zm-card-image">
                                  <figure class="image is-48x48"><img
                                      src="https://photo-resize-zmp3.zadn.vn/w320_r1x1_webp/cover/c/5/d/7/c5d76cd03c81ea9fcbc67a3388d9b268.jpg"
                                      alt=""></figure>
                                </div>
                              </a>
                            </div>
                            <div class="zm-card-content">
                              <h4 class="title is-6"><a class="" title="Daebak Solo"
                                  href="/album/Daebak-Solo-Hwa-Sa-LISA-MINO-CL/6ICU9EF0.html">
                                  <span>
                                    <span>
                                      <span>Daebak Solo</span>
                                    </span>
                                    <span style="position: fixed; visibility: hidden; top: 0px; left: 0px;">…</span>
                                  </span></a>
                              </h4>
                              <h3 class="mt-10 subtitle">
                                <span>
                                  <span>
                                    <span>Luôn là tâm điểm khi ra solo</span><br>
                                    <span>hay còn ở trong nhóm</span>
                                  </span>
                                  <span style="position: fixed; visibility: hidden; top: 0px; left: 0px;">…</span>
                                </span>
                              </h3>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="zm-section playlist-section channel-section mar-t-30">
              <div class="container">
                <h3 class="zm-section-title title is-2">XONE's CORNER</h3>
                <div class="zm-carousel-wrapper">
                  <div class="zm-carousel">
                    <div class="zm-carousel__container" style="transform: translate3d(0px, 0px, 0px);">
                      <div class="zm-carousel-item is-fullhd-20 is-widescreen-20 is-desktop-3 is-touch-3 is-tablet-3">
                        <div class="playlist-wrapper is-description">
                          <div class="zm-card">
                            <div><a class="" title="Throwback Summer Hits"
                                href="/playlist/Throwback-Summer-Hits-XONE-RADIO/68FB8B8O.html">
                                <div class="zm-card-image">
                                  <figure class="image is-48x48"><img
                                      src="https://photo-resize-zmp3.zadn.vn/w320_r1x1_webp/cover/d/8/a/0/d8a0eca2d5388489adaafc2a5a04f622.jpg"
                                      alt=""></figure>
                                </div>
                              </a></div>
                            <div class="zm-card-content">
                              <h4 class="title is-6"><a class="" title="Throwback Summer Hits"
                                  href="/playlist/Throwback-Summer-Hits-XONE-RADIO/68FB8B8O.html"><span><span><span>Throwback
                                        Summer Hits</span></span><span
                                      style="position: fixed; visibility: hidden; top: 0px; left: 0px;">…</span></span></a>
                              </h4>
                              <h3 class="mt-10 subtitle"><span><span><span>Những bài hát được
                                      phát</span><br><span><span>hành và thu hút sự chú ý…</span></span></span><span
                                    style="position: fixed; visibility: hidden; top: 0px; left: 0px;">…</span></span></h3>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="zm-carousel-item is-fullhd-20 is-widescreen-20 is-desktop-3 is-touch-3 is-tablet-3">
                        <div class="playlist-wrapper is-description">
                          <div class="zm-card">
                            <div><a class="" title="Taylor Swift's Flavour"
                                href="/playlist/Taylor-Swift-s-Flavour-XONE-RADIO/68FB86WF.html">
                                <div class="zm-card-image">
                                  <figure class="image is-48x48"><img
                                      src="https://photo-resize-zmp3.zadn.vn/w320_r1x1_webp/cover/5/4/c/e/54cefe9157678f5369a241dc599f5505.jpg"
                                      alt=""></figure>
                                </div>
                              </a></div>
                            <div class="zm-card-content">
                              <h4 class="title is-6"><a class="" title="Taylor Swift's Flavour"
                                  href="/playlist/Taylor-Swift-s-Flavour-XONE-RADIO/68FB86WF.html"><span><span><span>Taylor
                                        Swift's Flavour</span></span><span
                                      style="position: fixed; visibility: hidden; top: 0px; left: 0px;">…</span></span></a>
                              </h4>
                              <h3 class="mt-10 subtitle"><span><span><span>Nữ nghệ sĩ duy nhất có 3
                                      giải</span><br><span><span>Album of The Year tại…</span></span></span><span
                                    style="position: fixed; visibility: hidden; top: 0px; left: 0px;">…</span></span></h3>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="zm-carousel-item is-fullhd-20 is-widescreen-20 is-desktop-3 is-touch-3 is-tablet-3">
                        <div class="playlist-wrapper is-description">
                          <div class="zm-card">
                            <div><a class="" title="Daily XONE's Picks"
                                href="/playlist/Daily-XONE-s-Picks-XONE-RADIO/68FB8B0I.html">
                                <div class="zm-card-image">
                                  <figure class="image is-48x48"><img
                                      src="https://photo-resize-zmp3.zadn.vn/w320_r1x1_webp/cover/0/8/5/f/085f3bcc352225d9b337da36830afc31.jpg"
                                      alt=""></figure>
                                </div>
                              </a></div>
                            <div class="zm-card-content">
                              <h4 class="title is-6"><a class="" title="Daily XONE's Picks"
                                  href="/playlist/Daily-XONE-s-Picks-XONE-RADIO/68FB8B0I.html"><span><span><span>Daily
                                        XONE's Picks</span></span><span
                                      style="position: fixed; visibility: hidden; top: 0px; left: 0px;">…</span></span></a>
                              </h4>
                              <h3 class="mt-10 subtitle"><span><span><span>Âm nhạc thịnh hành, XONE</span><br><span>dành
                                      cho bạn</span></span><span
                                    style="position: fixed; visibility: hidden; top: 0px; left: 0px;">…</span></span></h3>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="zm-carousel-item is-fullhd-20 is-widescreen-20 is-desktop-3 is-touch-3 is-tablet-3">
                        <div class="playlist-wrapper is-description">
                          <div class="zm-card">
                            <div><a class="" title="Indie Hits" href="/playlist/Indie-Hits-XONE-RADIO/S8F9DAAF.html">
                                <div class="zm-card-image">
                                  <figure class="image is-48x48"><img
                                      src="https://photo-resize-zmp3.zadn.vn/w320_r1x1_webp/cover/c/f/f/b/cffb07c7f9c9cbb6c6356082155d31b3.jpg"
                                      alt=""></figure>
                                </div>
                              </a></div>
                            <div class="zm-card-content">
                              <h4 class="title is-6"><a class="" title="Indie Hits"
                                  href="/playlist/Indie-Hits-XONE-RADIO/S8F9DAAF.html"><span><span><span>Indie
                                        Hits</span></span><span
                                      style="position: fixed; visibility: hidden; top: 0px; left: 0px;">…</span></span></a>
                              </h4>
                              <h3 class="mt-10 subtitle"><span><span><span>Điểm danh những cái tên nổi</span><br><span>bật
                                      của thế giới Indie</span></span><span
                                    style="position: fixed; visibility: hidden; top: 0px; left: 0px;">…</span></span></h3>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="zm-carousel-item is-fullhd-20 is-widescreen-20 is-desktop-3 is-touch-3 is-tablet-3">
                        <div class="playlist-wrapper is-description">
                          <div class="zm-card">
                            <div><a class="" title="Asia Tune - Acoustic"
                                href="/playlist/Asia-Tune-Acoustic-XONE-RADIO/68FB69CZ.html">
                                <div class="zm-card-image">
                                  <figure class="image is-48x48"><img src="" alt=""></figure>
                                </div>
                              </a></div>
                            <div class="zm-card-content">
                              <h4 class="title is-6"><a class="" title="Asia Tune - Acoustic"
                                  href="/playlist/Asia-Tune-Acoustic-XONE-RADIO/68FB69CZ.html"><span><span><span>Asia Tune
                                        - Acoustic</span></span><span
                                      style="position: fixed; visibility: hidden; top: 0px; left: 0px;">…</span></span></a>
                              </h4>
                              <h3 class="mt-10 subtitle"><span><span><span>Mộc mạc gai điệu Acoustic</span><br><span>châu
                                      Á</span></span><span
                                    style="position: fixed; visibility: hidden; top: 0px; left: 0px;">…</span></span></h3>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </main>
      </div>
  